<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="icon"
      type="image/gif"
      href="https://99gifshop.neocities.org/items/7/heartbounce.gif">

    <title>Discover</title>
</head>
<body>
    <nav class="navbar bg-rose-200 py-4 mb-4 flex gap-x-96 text-rose-800">
        <div>
            <h2 class="ml-8 w-96">tv land</h2>
        </div>
        <div class="flex gap-x-12 text-white">
            <div>
                <form action="/"><button>popular movies</button></form>
            </div>
            <div>
                <form action="/series"><button>popular shows</button></form>
            </div>
            <div>
                <form action="/search"><button>search</button></form>
            </div>
            <div>
                <form action="/favorites"><button>favorites</button></form>
            </div>
        </div>
    </nav>

    <div class="grid grid-cols-5 ml-8 gap-x-0.5 gap-y-4">
        {% for movie in movies %}
        <form action="/watching" method="POST">
      
        <li class="list-none">
            <button>
                <img src="{{ movie[1] }}" width="240" height="325" class="rounded-lg shadow-xl">
            </button><p>
          {{ movie[0] }}
          </p>
          <input type="hidden" name="contentId" value="{{ movie[2] }}">
        </li></form>
        {% endfor %}
    </div>
    <div id="controls" class="flex justify-end mb-8">
        <div>
            <form method="POST">
                {% if page_number > 1 %}
                <input type="hidden" name="page" value="{{ page_number - 1 }}">
                <button type="submit" class="button mr-14 rounded-xl bg-rose-400 px-10 text-white py-1.5 shadow-xl">Back</button> 
                {% endif %}
            </form></div>
        <div>
            <form method="POST">
                <input type="hidden" name="page" value="{{ page_number + 1 }}">
                <button type="submit" class="button mr-14 rounded-xl bg-rose-400 px-10 text-white py-1.5 shadow-xl">More</button>
            </form>
        </div>
    
</div>
</body>
</html>
