{% extends "base.html" %}

{% block content %}

<h2 class="text-xl mb-6">favorites</h2>

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">

  {% for favorite in favorites %}

<div class="card bg-orange-100 rounded-xl p-2">

  <a href="/watch?contentId={{ favorite.link }}&type={{ favorite.type }}">
    <img src="{{ favorite.image_url }}" class="w-full h-80 object-cover rounded-lg">
    <p class="text-sm mt-2 text-green-950">{{ favorite.title }}</p>
  </a>

  <button 
    onclick="removeItem(this)"
    data-id="{{ favorite.content_id if favorite.content_id else favorite.id.split('_')[1] }}"
    data-type="{{ favorite.type }}"
    class="mt-2">
    ❌
  </button>

</div>

  {% endfor %}

</div>

<script>
function removeItem(btn) {
  fetch("/remove", {
    method: "POST",
    headers: {"Content-Type": "application/json"},
    body: JSON.stringify({
      id: btn.dataset.id,
      type: btn.dataset.type
    })
  }).then(() => {
    // remove o card inteiro
    btn.closest(".card").remove();
  });
}
</script>

{% endblock %}