{% extends "base.html" %}

{% block content %}

<h2 class="text-xl mb-6">favorites</h2>

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">

  {% for favorite in favorites %}

<div class="card bg-orange-100 rounded-xl p-2">

  <form action="/watching" method="POST">
      <button class="w-full">
        <img src="{{ favorite.image_url }}" class="w-full h-80 object-cover rounded-xl transition group-hover:opacity-80">
      </button>

      <input type="hidden" name="link" value="{{ favorite.link }}">
      <input type="hidden" name="id" value="{{ favorite.id }}">
      <input type="hidden" name="type" value="{{ favorite.type }}">
    </form>

    <!-- TEXT -->
    <div class="mt-2">
      <p class="text-sm line-clamp-2 text-green-950">{{ favorite.title }}</p>
      <p class="text-xs text-neutral-500">{{ favorite.type }}</p>
    </div>

  <button 
    onclick="removeItem(this)"
    data-id="{{ favorite.content_id if favorite.content_id else favorite.id.split('_')[1] }}"
    data-type="{{ favorite.type }}"
    class="mt-2">
    ❌
  </button>

</div>

  {% endfor %}

</div>

<script>
function removeItem(btn) {
  fetch("/remove", {
    method: "POST",
    headers: {"Content-Type": "application/json"},
    body: JSON.stringify({
      id: btn.dataset.id,
      type: btn.dataset.type
    })
  }).then(() => {
    // remove o card inteiro
    btn.closest(".card").remove();
  });
}
</script>

{% endblock %}