{% extends "base.html" %}

{% block content %}

<h2 class="text-xl mb-6 capitalize text-lime-700">{{ request.path[1:] or "movies" }}</h2>

<div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-5 gap-6">

  {% for item in content %}
  <div class="group cursor-pointer">

    <!-- CLICKABLE IMAGE -->
    <form action="/watching" method="POST">
      <button class="w-full">
        <img src="{{ item.image }}" class="w-full h-80 object-cover rounded-xl transition group-hover:opacity-80">
      </button>

      <input type="hidden" name="link" value="{{ item.link }}">
      <input type="hidden" name="id" value="{{ item.id }}">
      <input type="hidden" name="type" value="{{ item.type }}">
    </form>

    <!-- TEXT -->
    <div class="mt-2">
      <p class="text-sm line-clamp-2 text-green-950">{{ item.title }}</p>
      <p class="text-xs text-neutral-500">{{ item.type }}</p>
    </div>

    <!-- FAVORITE -->
     <button 
  onclick="saveItem(this)"
  class="text-xs text-neutral-500 hover:text-pink-400"
  data-id="{{ item.id }}"
  data-title="{{ item.title }}"
  data-image="{{ item.image }}"
  data-link="{{ item.link }}"
  data-type="{{ item.type }}">
  ♥ save
</button>
    

  </div>
  {% endfor %}

  <div class="flex justify-between mt-8">

        {% if page > 1 %}
        <a href="{{ '/series' if request.path[1:] == 'series' else '/' }}?page={{ page - 1 }}" class="px-4 py-2 bg-lime-700 text-white rounded">
          ← Back
        </a>
        {% endif %}

        <a href="{{ '/series' if request.path[1:] == 'series' else '/' }}?page={{ page + 1 }}" class="px-4 py-2 bg-lime-700 text-white rounded">
          Next →
        </a>

      </div>

</div>

<script>
function saveItem(btn) {
  fetch("/save", {
    method: "POST",
    headers: {"Content-Type": "application/json"},
    body: JSON.stringify({
      id: btn.dataset.id,
      title: btn.dataset.title,
      image: btn.dataset.image,
      link: btn.dataset.link,
      type: btn.dataset.type
    })
  }).then(() => {
    btn.textContent = "💗";
  });
}

function removeItem(btn) {
  fetch("/remove", {
    method: "POST",
    headers: {"Content-Type": "application/json"},
    body: JSON.stringify({
      id: btn.dataset.id,
      type: btn.dataset.type
    })
  }).then(() => {
    btn.closest(".card").remove();
  });
}
</script>

{% endblock %}