{% extends "base.html" %}

{% block content %}

<div class="max-w-xl mx-auto mb-8">

  <form action="/search" method="POST" class="flex gap-2">
    <input 
      name="name"
      placeholder="search movies or series..."
      class="flex-1 px-4 py-2 rounded-lg bg-lime-100 border border-lime-700 outline-none"
    >
    <button class="px-4 py-2 bg-lime-100 border border-lime-700 rounded-lg">
      search
    </button>
  </form>

</div>

{% if content %}
  {% include "index.html" %}
{% endif %}

{% endblock %}